--
-- PostgreSQL database dump
--

\restrict qjqKYLHREXAefd6fQSMvl2wRQl9Zvvo5z3oYrf2701iCf8Lw2I93JSntJVCye76

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alerts; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.alerts (
    id integer NOT NULL,
    position_id integer,
    trigger_type character varying(20) NOT NULL,
    trigger_price numeric(10,2) NOT NULL,
    actual_price numeric(10,2) NOT NULL,
    notified_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.alerts OWNER TO "user";

--
-- Name: alerts_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.alerts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.alerts_id_seq OWNER TO "user";

--
-- Name: alerts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.alerts_id_seq OWNED BY public.alerts.id;


--
-- Name: positions; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.positions (
    id integer NOT NULL,
    symbol character varying(20) NOT NULL,
    option_type character varying(10) NOT NULL,
    strike_price numeric(10,2) NOT NULL,
    expiration_date date NOT NULL,
    entry_price numeric(10,2) NOT NULL,
    quantity integer NOT NULL,
    stop_loss_trigger numeric(10,2),
    take_profit_trigger numeric(10,2),
    trailing_high_price numeric(10,2),
    trailing_stop_loss_pct numeric(5,2),
    realized_pnl numeric(10,2),
    loss_avoided numeric(10,2),
    current_price numeric(10,2),
    status character varying(20) DEFAULT 'OPEN'::character varying,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    delta numeric(10,4),
    theta numeric(10,4),
    gamma numeric(10,4),
    vega numeric(10,4),
    iv numeric(10,4)
);


ALTER TABLE public.positions OWNER TO "user";

--
-- Name: positions_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.positions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.positions_id_seq OWNER TO "user";

--
-- Name: positions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.positions_id_seq OWNED BY public.positions.id;


--
-- Name: price_history; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.price_history (
    id integer NOT NULL,
    position_id integer,
    price numeric(10,2) NOT NULL,
    recorded_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.price_history OWNER TO "user";

--
-- Name: price_history_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.price_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.price_history_id_seq OWNER TO "user";

--
-- Name: price_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.price_history_id_seq OWNED BY public.price_history.id;


--
-- Name: settings; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.settings (
    key character varying(50) NOT NULL,
    value text,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.settings OWNER TO "user";

--
-- Name: alerts id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.alerts ALTER COLUMN id SET DEFAULT nextval('public.alerts_id_seq'::regclass);


--
-- Name: positions id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.positions ALTER COLUMN id SET DEFAULT nextval('public.positions_id_seq'::regclass);


--
-- Name: price_history id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.price_history ALTER COLUMN id SET DEFAULT nextval('public.price_history_id_seq'::regclass);


--
-- Data for Name: alerts; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.alerts (id, position_id, trigger_type, trigger_price, actual_price, notified_at) FROM stdin;
3	4	TAKE_PROFIT	26.00	26.36	2026-01-01 19:19:06.544784+00
13	16	STOP_LOSS	2.27	1.40	2026-01-01 22:14:39.213625+00
14	4	TAKE_PROFIT	25.00	25.85	2026-01-02 02:03:02.041048+00
15	16	STOP_LOSS	2.27	1.40	2026-01-02 02:03:08.943885+00
\.


--
-- Data for Name: positions; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: price_history; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.price_history (id, position_id, price, recorded_at) FROM stdin;
20	4	26.36	2026-01-01 19:19:06.541578+00
44	4	25.85	2026-01-01 22:11:13.785615+00
46	4	25.85	2026-01-01 22:13:22.8234+00
47	16	1.40	2026-01-01 22:14:39.20954+00
50	4	25.85	2026-01-02 02:03:02.037757+00
51	16	1.40	2026-01-02 02:03:08.940679+00
\.


--
-- Data for Name: settings; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.settings (key, value, updated_at) FROM stdin;
ai_provider	openrouter	2026-01-02 04:48:56.722129+00
openrouter_key	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	2026-01-02 04:48:56.722129+00
ai_model	xiaomi/mimo-v2-flash:free	2026-01-02 04:48:56.722129+00
\.


--
-- Name: alerts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.alerts_id_seq', 15, true);


--
-- Name: positions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.positions_id_seq', 16, true);


--
-- Name: price_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.price_history_id_seq', 51, true);


--
-- Name: alerts alerts_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT alerts_pkey PRIMARY KEY (id);


--
-- Name: positions positions_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.positions
    ADD CONSTRAINT positions_pkey PRIMARY KEY (id);


--
-- Name: price_history price_history_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.price_history
    ADD CONSTRAINT price_history_pkey PRIMARY KEY (id);


--
-- Name: settings settings_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.settings
    ADD CONSTRAINT settings_pkey PRIMARY KEY (key);


--
-- Name: alerts alerts_position_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT alerts_position_id_fkey FOREIGN KEY (position_id) REFERENCES public.positions(id) ON DELETE CASCADE;


--
-- Name: price_history price_history_position_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.price_history
    ADD CONSTRAINT price_history_position_id_fkey FOREIGN KEY (position_id) REFERENCES public.positions(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict qjqKYLHREXAefd6fQSMvl2wRQl9Zvvo5z3oYrf2701iCf8Lw2I93JSntJVCye76

