name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image for backend
      run: docker build . --file backend/Dockerfile --tag optionsmonitoring-frontend:$(date +%s)
    - uses: actions/checkout@v4
    - name: Build the Docker image for frontend
      run: docker build . --file frontend/Dockerfile --tag optionsmonitoring-backend:$(date +%s)
