name: Variable Injection Test

on:
  workflow_dispatch:

jobs:
  test-vars:
    runs-on: ubuntu-latest
    steps:
      - name: Print variables
        run: |
          echo "Host: $VPS_HOST"
          echo "User: $VPS_USERNAME"
          echo "Key: $VPS_SSH_KEY"
        env:
          VPS_HOST_TEST: ${{ vars.VPS_HOST }}
          VPS_USERNAME_TEST: ${{ vars.VPS_USERNAME }}
          VPS_SSH_KEY_TEST: ${{ vars.VPS_SSH_KEY }}
